body {
    overflow-x: hidden;
    background: #FFFFFF;
}


.scrollup {
    width: 5vw;
    height: 9vw;
    opacity: 0.2; /*Прозрачность*/
    position: fixed;
    bottom: 2vw;
    right: 5vw;
    display: none;
    text-indent: -99vw; /*Устанавливает величину отступа первой строки блока текста*/
    background: url('arrow.png') no-repeat;
    z-index: 10;
}
    .arrow a:hover
    { 
        background: url('arrow.png') no-repeat;
    }

    .top-main-part 
    {
        position: relative;
        width: 100%;
    }

    .top-main-part img {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
    }

    .top-text-of-the-main-page 
    {
        position: relative;
        text-align: center;
        width: 100%;
    }
 
    .text-1 
    {
        position:absolute;
        font-family:MV Boli;  
        width:100%;
        color: #FFFFFF;
        font-size: 5vw; 
    }

    .text-4 
    {
        font-size: 8vw;
        top:17vw;
        position:absolute;
        font-family:MV Boli;  
        width:100%; 
        color: #000000;
    }

    .we-what-we-eat 
    {
        text-align: center;
    }

    .text-2 
    {
        font-size: 6vw;
        top:61vw;
        position:absolute;
        font-family:Mistral;  
        width:100%; 
        color:#2E8B57;
    }

    .we-what-we-eat img 
    {
        position: absolute;
        width: 50%;
        right: 0;
        left: 25%;
        top: 72vw;
    }

    .text-3 
    {
        position:absolute;
        font-family:Mistral; 
        width:100%; 
        color:#2E8B57;
        font-size: 6vw;
        top:100vw;
    }

    .part-with-recipes 
    {
        text-align: center;
    }

    .text-5 
    {
        text-align: center;
        position: absolute;
        font-family: Monotype Corsiva;
        width: 100%;
        color: #D8BFD8;
        font-size: 7vw;
        top: 114vw;
    }

    .part-with-recipes a:hover 
    {
        background: #FFFFFF;
        color: #DA70D6;
    }

    .part-with-recipes img 
    {
        position: absolute;
        width: 45%;
        right: 0;
        left: 3vw;
        top: 123vw;
        z-index: 9;
    }

    .picture-of-boul img 
    {
        position: absolute;
        width: 45%;
        left: 0;
        right: 0;
        left: 52vw;
        top: 123vw;
        z-index: 9;
    }

   .raw-banner a:hover
   {
       background:#FFFFFF; 
       color: #DA70D6; 
   }

   .boul-banner a:hover
   {
       background:#FFFFFF; 
       color: #DA70D6; 
   }

    .recipe-name-1 
    {
        position: absolute;
        font-family: Monotype Corsiva;
        width: 45%;
        color: #8A2BE2;
        left: 1vw;
        top: 149vw;
        font-size: 3vw;
        text-align: center;
    }

    .recipe-name-2 
    {
        position: absolute;
        font-family: Monotype Corsiva;
        width: 45%;
        color: #8A2BE2;
        left: 50vw;
        top: 149vw;
        font-size: 3vw;
        text-align: center;
    }

    .text-of-raw-recipe 
    {
        position: absolute;
        font-family: Monotype Corsiva;
        width: 45%;
        color: #BA55D3;
        left: 3vw;
        font-size: 2vw;
        text-align: justify;
        top: 155.6vw;
        z-index: 9;
    }

    .text-of-boul-recipe 
    {
        position: absolute;
        font-family: Monotype Corsiva;
        width: 45%;
        color: #BA55D3;
        left: 52vw;
        top: 155.6vw;
        font-size: 2vw;
        text-align: justify;
        z-index: 9;
    }


.button-to-recipe {
    position: relative;
    -webkit-appearance: none;/**/
    -moz-appearance: none; /*для FireFox*/
    background: #BA55D3;
    padding: 2.3vw 3vw;
    border: none;
    color: #e4e4e4;
    font-size: 2.8vw;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 12vw;
    font-family: Monotype Corsiva;
    top: 169vw;
    left: 42%;
}

    .button-to-recipe span {
        position: relative;
        pointer-events: none;
    }

    .button-to-recipe::before { /*для отображения желаемого контента до содержимого элемента, к которому он добавляется*/
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, #4510dc, rgba(255, 255, 255, 0)); /*Радиальный градиент*/
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: width .1s ease, height .3s ease;
    }

    .button-to-recipe:hover::before {
        --size: 397px;
    }

    
    
  
    .blog
    {
       text-align:center;

    }

    .blog-text 
    {
       text-align:center; 
       position:absolute;
       font-family:Monotype Corsiva;
       width:100%; 
       color:#3CB371; 
       font-size:7vw; 
       top:189vw;
    }

    .blog a:hover
    {
       background:#FFFFFF; 
       color: #2E8B57;
    }

    .blog img 
    { 
       position:absolute; 
       width:35%; 
       left:0; 
       right:0; 
       left:8%; 
       top:198vw; 
       z-index:9;
    }

    .blog-2 img 
    { 
       position:absolute; 
       width:35%; 
       left:0; 
       right:0; 
       left:56%; 
       top:198vw; 
       z-index:9;
    }

    .intuitive-banner a:hover 
    {
        background: #FFFFFF;
        color: #000000;
    }

    .fast-banner a:hover
    {
       background:#FFFFFF; 
       color: #000000;
    }

    .blog-name-1 
    {
        position: absolute;
        font-family: Monotype Corsiva;
        width: 50%;
        color: #006400;
        left: 0%;
        top: 234vw;
        font-size: 2.7vw;
        text-align: center;
    }

    .blog-name-2 
    {
        position: absolute;
        font-family: Monotype Corsiva;
        width: 45%;
        color: #006400;
        left: 50%;
        top: 234vw;
        font-size: 2.9vw;
        text-align: center;
    }

    .text-about-IN 
    {
        position: absolute;
        font-family: Monotype Corsiva;
        width: 40%;
        color: #2E8B57;
        left: 5%;
        font-size: 2vw;
        text-align: justify;
        top: 241vw;
        z-index: 9;
    }

    .text-about-fast-food 
    {
        position: absolute;
        font-family: Monotype Corsiva;
        width: 40%;
        color: #2E8B57;
        left: 53%;
        top: 241vw;
        font-size: 2vw;
        text-align: justify;
        z-index: 9;
    }


.button-to-blog {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #2E8B57;
    padding: 2.3vw 3vw;
    border: none;
    color: #e4e4e4;
    font-size: 2.8vw;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 12vw;
    font-family: Monotype Corsiva;
    top: 235vw;
    left: 42%;
}
.button-to-blog span {
    position: relative;
    pointer-events: none;
}

    .button-to-blog::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, #3CB371, rgba(255, 255, 255, 0));
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: width .1s ease, height .3s ease;
    }

.button-to-blog:hover::before {
    --size: 397px;
}

    .about-us img 
    {
        width: 85%;
        top: 266vw;
        position: absolute;
        left: 7%;
    }

    .text-bio
    {
        position:absolute;
        font-family:Monotype Corsiva; 
        width:100%; 
        color:#3CB371; 
        font-size:6vw; 
        top:267vw;
        text-align:center;
    }

    .text-bio-2
    {
        position:absolute;
        font-family:Monotype Corsiva; 
        width:100%; 
        color:#3CB371; 
        font-size:4.6vw;
        top:273vw;
        text-align:center;
    }

    .text-bio-3
    {
        position:absolute;
        font-family:Monotype Corsiva; 
        width:60%; 
        color:#3CB371; 
        font-size:3vw; 
        top:278.5vw;
        text-align:center; 
        left:20%;
    }

.button-to-about-us {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #2E8B57;
    padding: 2.3vw 3vw;
    border: none;
    color: #e4e4e4;
    font-size: 2.8vw;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 12vw;
    font-family: Monotype Corsiva;
    top: 264vw;
    left: 42%;
}

    .button-to-about-us span {
        position: relative;
        pointer-events: none;
    }

    .button-to-about-us::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, #3CB371, rgba(255, 255, 255, 0));
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: width .1s ease, height .3s ease;
    }

    .button-to-about-us:hover::before {
        --size: 397px;
    }

    .cute-avocado img
    {
        width:50%; 
        top:330vw;
        position:absolute; 
        left:24%;
    }

    .insta img
    {
        width:5.3%; 
        top:331.6vw; 
        position:absolute; 
        left:26.2%;
        z-index:9;
    }

    .vk img
    {
        width:10%; 
        top:340vw; 
        position:absolute; 
        left:24%;
        z-index:9;
    }

    .email img
    {
        width:6.4%;
        top:331vw; 
        position:absolute; 
        left:67%;
        z-index:9;
    }

    .facebook img
    {
        width:6.9%; 
        top:339vw; 
        position:absolute; 
        left:67%;
        z-index:9;
    }

    .vk a 
    {
        background: #FFFFFF;
        color: #FFFFFF;
        top:340vw;
    }

    .insta a 
    {
        background: #FFFFFF;
        color: #FFFFFF;
        top: 329vw;
    }

    .facebook a 
    {
        background: #FFFFFF;
        color: #FFFFFF;
        top: 340vw;
    }

    .email a 
    {
        background: #FFFFFF;
        color: #FFFFFF;
        top: 331vw;
    }

    .link-3
    {
        position:absolute;
        font-family:Monotype Corsiva;
        width:45%; 
        color:#FFFFFF; 
        text-align:center;
    }

footer {
    height: 8vw;
    background: url(a.jpg);
    opacity: 0.7; /*прозрачность*/
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 3vw 0;
    position: relative;
    top: 315vw;
}
    footer p {
        font-size: 2.3vw;
        text-align: center;
        font-family: Monotype Corsiva;
        margin-top: 0.1em; /* Отступ сверху */
        margin-bottom: 0.1em; /* Отступ снизу */
        
    }

    .footer1{
        font-size:5vw;
    }