@media screen and (max-width: 768px) {
    .bob-2 a {
        font-size: 3.3vw;
        top: 10vw;
    }

    .individ-banner-2 {
        top: 10vw;
        font-size: 3.5vw;
        left: 16.7%;
    }

    .hot-dog-4 {
        left: 19%;
    }

    .individ-banner-3 {
        top: 10vw;
        font-size: 3.5vw;
        left: 30%;
    }

    .hot-dog-5 {
        left: 33.2%;
        width:57%;
    }

    .text-5 {
        top: 11vw;
        font-size: 5.1vw;
        left:0;
    }

    .hot-1 img {
        top: 23vw;
        width: 65%;
        left: 18%;
    }

    .t-1, .t-2, .t-3, .t-4, .t-5, .t-6, .t-7, .t-8, .t-9, .t-10, .t-11, .t-12, .t-13, .t-14, .t-15, .t-16, .t-17, .t-18 {
        font-size: 4vw;
        width: 90%;
        left:4%;
    }
    .t-1{
        top: 89vw;
    }
    
    .t-6 {
        top: 202.6vw;
    }
    
    .t-12 {
        top: 380vw;
    }
    
    .t-14 {
        top: 467vw;
    }
    
    .t-16 {
        top: 551vw;
    }

    .fon-4 img{
        top:15vw;
    }
    .fon img {
        top: 152vw;
    }
    .fon-2 img {
        top: 289vw;
    }
    .fon-3 img {
        position: absolute;
        display: flex;
        top: 293vw;
        width: 94%;
        right: 0;
        left: 3%;
    }
    .fon-5 img {
        position: absolute;
        display: flex;
        top: 430vw;
        width: 94%;
        right: 0;
        left: 3%;
    }

    footer {
        height: 12vw;
        top: 578vw;
    }

        footer p {
            font-size: 3.3vw;
        }

    .footer1 {
        font-size: 6vw;
    }
    
}
@media screen and (max-width: 414px) {
    li a {
        font-size: 5.5vw;
    }

    .bob-2 a {
        font-size: 6.3vw;
        top: 14vw;
    }

    .hot-dog-4 {
        left: 28.7%;
    }

    .individ-banner-2 {
        top: 13vw;
        font-size: 5.8vw;
        left: 24.7%;
    }

    .individ-banner-3 {
        top: 13vw;
        font-size: 5.8vw;
        left: 47.7%;
    }

    .individ-banner-1 a {
        top: 20vw;
        width: 90%;
        left: 1%
    }

    .text-5 {
        top: 25vw;
        font-size: 6.8vw;
    }

    .hot-1 img {
        top: 48vw;
        width: 75%;
        left: 13%;
    }
    .fon-4 img{
        top:31vw;
    }
    .fon img {
        top: 168vw;
    }

    .fon-2 img {
        top: 305vw;
    }

    .fon-3 img {
        top: 309vw;      
    }

    .fon-5 img {
        top: 446vw;
    }
    .fon-6 img {
        position: absolute;
        display: flex;
        top: 583vw;
        width: 94%;
        right: 0;
        left: 3%;
    }
    .fon-7 img {
        position: absolute;
        display: flex;
        top: 720vw;
        width: 94%;
        right: 0;
        left: 3%;
    }
    .fon-8 img {
        position: absolute;
        display: flex;
        top: 857vw;
        width: 94%;
        right: 0;
        left: 3%;
    }
    .fon-9 img {
        position: absolute;
        display: flex;
        top: 994vw;
        width: 94%;
        right: 0;
        left: 3%;
    }
    .t-1, .t-2, .t-3, .t-4, .t-5, .t-6, .t-7, .t-8, .t-9, .t-10, .t-11, .t-12, .t-13, .t-14, .t-15, .t-16, .t-17, .t-18 {
        font-size: 5.8vw;
        width: 87%;
        left: 5%;
    }

    .t-1 {
        top: 124vw;
    }

    
    .t-6 {
        top: 365.6vw;
    }

    
    .t-12 {
        top: 746vw;
    }

    

    .t-14 {
        top: 929vw;
    }

    

    .t-16 {
        top: 1108vw;
    }

    footer {
        height: 20vw;
        top: 1159vw;
        padding: 4vw 0;
    }

        footer p {
            font-size: 7.3vw;
        }

    .footer1 {
        font-size: 11vw;
    }
}

    @media screen and (max-width: 375px) {
        li a {
            font-size: 5.6vw;
        }
    }
}

