@media screen and (max-width: 768px) {
    .bob-2 a {
        font-size: 3.3vw;
        top: 10vw;
    }

    .individ-banner-2 {
        top: 10vw;
        font-size: 3.5vw;
        left: 16.7%;
    }

    .hot-dog-4 {
        left: 19%;
    }

    .individ-banner-3 {
        top: 10vw;
        font-size: 3.5vw;
        left: 30%;
    }

    .hot-dog-5 {
        left: 33.2%;
        width: 57%;
    }

    .text-5 {
        top: 11vw;
        font-size: 5.1vw;
        left: 0;
    }

    .hot-1 img {
        top: 28vw;
        width: 60%;
        left: 20%;
    }

    .t-1, .t-2, .t-3, .t-4, .t-5, .t-6, .t-7, .t-8, .t-9, .t-10, .t-11, .t-12, .t-13, .t-14, .t-15, .t-16, .t-17, .t-18, .t-19, .t-20, .t-21, .t-22, .t-23, .t-24, .t-25, .t-26, .t-27, .t-28, .t-30, .t-31, .t-32, .t-33, .t-34 {
        font-size: 4vw;
        width: 85%;
        left: 7%;
    }

    .t-1 {
        top: 92vw;
    }

    .t-12 {
        top: 114vw;
    }


    
    .t-11 {
        top: 386vw;
        font-size:6.6vw;
        left:50%;
    }

    .t-5 {
        top: 393vw;
        font-size: 5.3vw;
        left: 23%;
    }

    .t-13 {
        top: 398vw;
    }

    .t-6 {
        top: 428vw;
        font-size: 6.6vw;
        left: 50%;
    }

    .t-7 {
        top: 434vw;
        font-size: 5.3vw;
        left: 17%;
    }
    .t-14 {
        top: 440vw;
    }
    .t-8 {
        top: 478vw;
        font-size: 6.6vw;
        left: 48%;
    }
    .t-9 {
        top: 483vw;
        font-size: 4.6vw;
        left: 12%;
    }
    .t-10 {
        top: 489vw;
    }
    .t-15 {
        top: 522vw;
        font-size: 6.3vw;
        left: 48%;
    }
    .t-16 {
        top: 527vw;
        font-size: 5.3vw;
        left: 31%;
    }
    .t-17 {
        top: 533vw;
    }
    .t-18 {
        top: 573vw;
        font-size: 6.3vw;
        left: 48%;
    }
    .t-19 {
        top: 578vw;
        font-size: 5.3vw;
        left: 23%;
    }
    .t-20 {
        top: 584vw;
    }
    .t-21 {
        top: 610vw;
        font-size: 6.3vw;
        left: 48%;
    }
    .t-22 {
        top: 615vw;
        font-size: 5.3vw;
        left: 23%;
    }
    .t-23 {
        top: 621vw;
    }
    .t-24 {
        top: 655vw;
        font-size: 6.3vw;
        left: 48%;
    }
    .t-25 {
        top: 660vw;
        font-size: 5.3vw;
        left: 23%;
    }
    .t-26 {
        top: 667vw;
    }
    .t-27 {
        top: 711vw;
        font-size: 6.3vw;
        left: 48%;
    }
    .t-28 {
        top: 716vw;
        font-size: 5vw;
        left: 10%;
    }
    .t-30 {
        top: 727vw;
    }
  

    .fon-4 img {
        top: 15vw;
    }

    .fon img {
        top: 152vw;
    }

    .fon-2 img {
        top: 289vw;
    }

    .fon-3 img {   
        top: 289vw;       
    }
    .fon-7 img {
        position: absolute;
        display: flex;
        top: 423vw;
        width: 94%;
        right: 0;
        left: 3%;
    }
    .fon-5 img {
        position: absolute;
        display: flex;
        top: 563vw;
        width: 94%;
        right: 0;
        left: 3%;
    }
    .fon-8 img {
        position: absolute;
        display: flex;
        top: 695vw;
        width: 94%;
        right: 0;
        left: 3%;
    }
    footer {
        height: 12vw;
        top: 844vw;
    }

        footer p {
            font-size: 3.3vw;
        }

    .footer1 {
        font-size: 6vw;
    }
}

@media screen and (max-width: 414px) {
    li a {
        font-size: 5.5vw;
    }

    .bob-2 a {
        font-size: 6.3vw;
        top: 14vw;
    }

    .hot-dog-4 {
        left: 28.7%;
    }

    .individ-banner-2 {
        top: 13vw;
        font-size: 5.8vw;
        left: 24.7%;
    }

    .individ-banner-3 {
        top: 13vw;
        font-size: 5.8vw;
        left: 47.7%;
    }

    .individ-banner-1 a {
        top: 20vw;
        width: 90%;
        left: 1%
    }

    .text-5 {
        top: 32vw;
        font-size: 6.8vw;
        width:87%;
        left:6%;
    }

    .hot-1 img {
        top: 62vw;
        width: 75%;
        left: 13%;
    }

    .fon-4 img {
        top: 36vw;
    }

    .fon img {
        top: 158vw;
    }

    .fon-2 img {
        top: 305vw;
    }

    .fon-3 img {
        top: 309vw;
    }

    .fon-5 img {
        position: absolute;
        display: flex;
        width: 94%;
        right: 0;
        left: 3%;
        top: 446vw;
    }

    .fon-6 img {
        position: absolute;
        display: flex;
        width: 94%;
        right: 0;
        left: 3%;
        top: 583vw;
    }

    .fon-7 img {
        position: absolute;
        display: flex;
        top: 720vw;
        width: 94%;
        right: 0;
        left: 3%;
    }

    .fon-8 img {
        position: absolute;
        display: flex;
        top: 857vw;
        width: 94%;
        right: 0;
        left: 3%;
    }
    .fon-9 img {
        position: absolute;
        display: flex;
        top: 994vw;
        width: 94%;
        right: 0;
        left: 3%;
    }
    .fon-10 img {
        position: absolute;
        display: flex;
        top: 1131vw;
        width: 94%;
        right: 0;
        left: 3%;
    }
    .fon-11 img {
        position: absolute;
        display: flex;
        top: 1268vw;
        width: 94%;
        right: 0;
        left: 3%;
    }
    .fon-12 img {
        position: absolute;
        display: flex;
        top: 1405vw;
        width: 94%;
        right: 0;
        left: 3%;
    }

    .t-1, .t-2, .t-3, .t-4, .t-5, .t-6, .t-7, .t-8, .t-9, .t-10, .t-11, .t-12, .t-13, .t-14, .t-15, .t-16, .t-17, .t-18, .t-19, .t-20, .t-21, .t-22, .t-23, .t-24, .t-25, .t-26, .t-27, .t-28, .t-30, .t-31, .t-32, .t-33, .t-34 {
        font-size: 5.8vw;
        width: 85%;
        left: 7%;
        z-index: 10;
    }

    .t-1 {
        top: 143vw;
    }

    .t-12 {
        top: 183vw;
    }


    .t-31 {
        top: 222.5vw;
    }

    .t-2 {
        top: 300vw;
        z-index:10;
    }

    .t-32 {
        top: 402.5vw;
        z-index: 10;
    }

    .t-3 {
        top: 486.6vw;
    }

    .t-4 {
        top: 591vw;
    }

    .t-33 {
        top: 662vw;
    }

    .t-11 {
        top: 738vw;
        font-size: 8.8vw;
        left: 50%;
    }

    .t-5 {
        top: 745vw;
        font-size: 6.3vw;
        left: 17%;
    }

    .t-13 {
        top: 753vw;
    }

    .t-6 {
        top: 816vw;
        font-size: 8.8vw;
        left: 50%;
    }

    .t-7 {
        top: 824vw;
        font-size: 6.3vw;
        left: 9%;
    }

    .t-14 {
        top: 840vw;
    }

    .t-8 {
        top: 922vw;
        font-size: 8.8vw;
        left: 48%;
    }

    .t-9 {
        top: 929vw;
        font-size: 6.3vw;
        left: 9%;
    }

    .t-10 {
        top: 945vw;
    }

    .t-15 {
        top: 1014vw;
        font-size: 8.8vw;
        left: 48%;
    }

    .t-16 {
        top: 1023vw;
        font-size: 6.3vw;
        left: 24%;
    }

    .t-17 {
        top: 1031vw;
    }

    .t-18 {
        top: 1108vw;
        font-size: 8.8vw;
        left: 48%;
    }

    .t-19 {
        top: 1115vw;
        font-size: 6.3vw;
        left: 18%;
    }

    .t-20 {
        top: 1123vw;
    }

    .t-21 {
        top: 1175vw;
        font-size: 8.8vw;
        left: 48%;
    }

    .t-22 {
        top: 1183vw;
        font-size: 6.3vw;
        left: 19%;
    }

    .t-23 {
        top: 1191vw;
    }

    .t-24 {
        top: 1257vw;
        font-size: 8.8vw;
        left: 48%;
    }

    .t-25 {
        top: 1265vw;
        font-size: 6.3vw;
        left: 17%;
    }

    .t-26 {
        top: 1273vw;
    }

    .t-27 {
        top: 1362vw;
        font-size: 8.8vw;
        left: 48%;
    }

    .t-28 {
        top: 1370vw;
        font-size: 6.3vw;
        left: 9%;
    }

    .t-30 {
        top: 1385vw;
    }

    .t-34 {
        top: 1443vw;
    }

    footer {
        height: 20vw;
        top: 1542.8vw;
        padding: 4vw 0;
    }

        footer p {
            font-size: 7.3vw;
        }

    .footer1 {
        font-size: 11vw;
    }
}

@media screen and (max-width: 375px) {
    li a {
        font-size: 5.6vw;
    }
    .t-2 {
        top: 301vw;
    }
    .t-32 {
        top: 406.5vw;
        z-index: 10;
    }
    .t-3 {
        top: 492.6vw;
    }

    .t-4 {
        top: 598vw;
    }

    .t-33 {
        top: 670vw;
    }
    .t-11 {
        top: 742vw;
        font-size: 8.8vw;
        left: 50%;
    }

    .t-5 {
        top: 748vw;
        font-size: 6.3vw;
        left: 17%;
    }

    .t-13 {
        top: 756vw;
    }
}
