*{
    box-sizing: border-box;
}

body {
    background: url(a.jpg);
}

.decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
}

.form-inner {
    padding: 50px;
}

    .form-inner input,
    .form-inner textarea {
        display: block;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 10px;
        background: #E9EFF6;
        line-height: 40px;
        border-width: 0;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
    }
         /*Кнопка*/
        .form-inner input[type="submit"] {
            margin-top: 30px;
            background: #9ACD32;
            border-bottom: 4px solid #6B8E23;
            color: white;
            font-size: 14px;
        }

    .form-inner textarea {
        resize: none;
    }

    .form-inner h3 {
        margin-top: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #707981;
    }



